ADMAP_M2_API_PORT=8001
ADMAP_M2_API_HOST=127.0.0.1
ADMAP_M2_DEBUG=True
ADMAP_M2_LOG_LEVEL=DEBUG
ADMAP_M2_MAX_PCAP_SIZE_MB=500
ADMAP_M2_BEACONING_MIN_OCCURRENCES=5
ADMAP_M2_BEACONING_JITTER_TOLERANCE=0.15
ADMAP_M2_DGA_ENTROPY_THRESHOLD=3.5
ADMAP_M2_DNS_TUNNEL_QUERY_LENGTH=50
ADMAP_M2_PORT_SCAN_THRESHOLD=20
ADMAP_M2_M1_BUNDLE_DEFAULT_PATH=""
ADMAP_M2_GEOIP_DB_PATH=""
